.time-table-wrapper {
    overflow: auto;
    min-height: calc(100vh - 15rem);
    .time-table { 
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
        box-shadow: 0 0 20px #213458;
        border-collapse: separate;
        border-spacing: 0px;
        thead tr {
            text-align: center;     
            color: #ffffff;
            background-color: #213458;
            th {
                border: 1px solid #dbe9ee;
                padding: 12px 15px;
            }
        }
        tbody tr:nth-child(1) {
            td {
                div {
                    height: 10px;
                    text-align: center;
                }
            }
        }
        .per-days {
            &__hour {
            position: relative;
            display: inherit;
            width: 1%;
            min-width: 45px;
            height: 45px;
            border-width: 0.5px;
            border: 1px solid #dbe9ee;
            cursor: pointer;
            & .subject {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 0;
                width: 100%;
                height: 100%;
                span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                }
            }
          }
        }
        .classes {
            &__class {
                width: 100px;
                border: 1px solid #dbe9ee;
                text-align: center;
                box-shadow: inset 0 0 0 0 springgreen;
                &_theme {
                    transition:box-shadow linear 0.5s;
                    color: white;
                    box-shadow: inset 0 -100px 0 0 springgreen;
                }
            }
        }
    }
}