.time-table { 
    margin: auto;
    margin-top: 2rem;
    box-shadow: 0 0 20px #213458;
    thead tr {
        text-align: center;     
        color: #ffffff;
        background-color: #213458;
        th {
            padding: 12px 15px;
        }
    }

    .per-days {
        &__hour {
        width: 100px;
        border: 1px solid #00739a;
        text-align: center;
        }
    }
}