@use '../../index.scss' as *;
@use '../../mixins.scss' as *;

.subjects-settings {
    @extend %modal-settings;
    & > button {
        top: 1px;
        right: 2px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .subjects-list {
            @extend %table-list
        }
        .right-sidebar {
            display: flex;
            float: right;
            flex-direction: column;
            width: 20%;
            gap: 15px;
            button {
                display: flex;
                align-items: center;
                gap: 3px;
                height: 25px;
                @include md {
                    width: 400px;
                }
                svg {
                    font-size: 20px;
                }
            }
            @include md {
                width: 100%;
                margin-top: 1rem;
                align-items: center
            }
        }
    }
}

.subjects-action {
    @extend %modal-settings;
    width: 40%;
    & > button {
        top: 1px;
        right: 2px;
    }
    .container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .text-block {
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include md {
                display: none;
            }
        }
        .input-block {
            width: 55%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            input {
                padding-left: 5px;
                outline: none;
            }
            @include md {
                width: 100%;
            }
        }
        .button-block {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 1rem;
            margin-top: 1rem;
            button {
                width: 100%;
                font-size: clamp(12px, 1vw, 20px);
            }
        }
    }
}

.delete-subject {
    width: 200px;
    & > button {
        top: 0;
        right: 0;
    }
    .button-block {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        button {
            width: 70%;
        }
    }
}

.subject-exists {
    width: 400px;
    text-align: center;
    color: red;
}


