@use "../../../index.scss" as *;
@use "../../../mixins.scss" as *;

.stacks-section {
  display: flex;
  width: 100%;
  box-shadow: 0 0 5px silver;
  &__stacks {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 150px;
    gap: 50px;
    padding: 1rem 1rem;
    background-color: white;
    .stack {
      position: relative;
      .subject {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        min-width: 0;
        height: 40px;
        min-width: 0;
        border: 1px solid silver;
        color: #e3e3e3;
        box-shadow: 2px 2px 0px hsl(0, 0%, 30%), 
        4px 4px 0px hsl(0, 0%, 60%),
        6px 6px 0px hsl(0, 0%, 100%);
        cursor: pointer;
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  &__review {
    width: 30%;
    padding: 1rem 1rem;
    background-color: #213458;
    .subject-block {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 1rem;
      .subject {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        min-width: 0;
        color: #e3e3e3;
        border: 1px solid silver;
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    p {
      color: white;
    }
  }
}
