// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian&display=swap');

// variables and templates

%nav-panel {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: 0 0 5px silver;
    text-align: center;
}

%nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

%modal-settings {
    max-width: 800px;
    width: 80%;
    padding: 2rem;
    border-radius: 3px;
}

%table-list {
    border-collapse: collapse;
    height: 100px;
    margin: 0 auto;
    min-width: 400px;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    tbody tr {
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        &.selected-row {
            background-color: #00987a3b;
        }
    }
    th, td {
        padding: 12px 15px;
        text-align: center;
    }
}
// Global styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans Armenian', sans-serif;
}

.OSstyle {
    height: 30px;
    border: 1px solid #707070;
    border-radius: 3px;
    padding: 0 1rem 0 1rem;
    background: linear-gradient(to bottom, #f2f2f2 0%, #ebebeb 42%, #dddddd 47%, #cfcfcf 100%);
    transition: all 0.1s ease-in;
    cursor: pointer;
    &:hover {
        background: #eaf6fd;
        background: linear-gradient(to bottom, #eaf6fd 0%, #d9f0fc 42%, #bee6fd 47%, #bce5fc 58%, #a7d9f5 100%);
    }
}

a {
    color: #213458;
}

a:active {
    color: initial;
}