// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian&display=swap');

// variables and templates

%nav-panel {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    padding: 1rem 4rem 1rem 4rem;
    box-shadow: 0 0 5px silver;
    text-align: center;
}

%nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

%modal-settings {
    max-width: 800px;
    width: 80%;
    padding: 2rem;
    border-radius: 3px;
}

%table-list {
    border-collapse: collapse;
    height: 100px;
    margin: 0 auto;
    min-width: 400px;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
        background-color: #213458;
        color: #ffffff;
        text-align: left;
    }
    tbody tr {
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        &.selected-row {
            background-color: #00987a3b;
        }
    }
    th, td {
        padding: 12px 15px;
        text-align: center;
    }
}

// Global styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans Armenian', sans-serif;
}

.OSstyle {
      height: 30px;
      border-radius: 3px;
      padding: 0 1rem 0 1rem;
      color: #213458;
      background: transparent;
      transition: ease-out 0.5s;
      border: 1px solid #213458;
      border-radius: 3px;
      box-shadow: inset 0 0 0 0 #213458;
      cursor: pointer;
      &:hover {
        color: white;
        box-shadow: inset 0 -100px 0 0 #213458;
      }
      &:active {
        transform: scale(0.9);
      }
}

select {
    option {
        color: white;
        background-color: #213458;
    }
}

a {
    color: #213458;
}

a:active {
    color: initial;
}